<div class="flex flex-col items-center w-full mt-10 space-y-4">
  <!-- Переключатель языков -->
  <div class="flex gap-2 mb-4">
    <button
      (click)="switchLanguage('en')"
      [class.font-bold]="currentLang === 'en'"
      class="px-4 py-2 border rounded hover:bg-gray-100"
    >
      English
    </button>
    <button
      (click)="switchLanguage('ru')"
      [class.font-bold]="currentLang === 'ru'"
      class="px-4 py-2 border rounded hover:bg-gray-100"
    >
      Русский
    </button>
  </div>

  <div>{{ "i18n.welcome" | translate }}</div>
  <div>{{ "i18n.title" | translate }}</div>
  <div>{{ "i18n.description" | translate }}</div>
</div>
